<div id="searchpage" align="center">
  <form class="form-inline">
      <div class="form-group">
      <label for="SearchString">searchstring </label>
      <input type="text" name="searchinput" placeholder="Search" [(ngModel)]="searchText" class="form-control" id="SearchString" placeholder="">
      </div>
      <br />
      <div class="form-group">
      <label for="maximumlimits">maximumresults </label>
      <select class="form-control" [(ngModel)]="MaximumResult" name="selectedoption">
        <option value="">Please select maximum results</option>
        <option>5</option>
        <option>10</option>
      </select>
      </div>
      <br />
      <button type="submit" class="btn btn-success" (click)="findHotels()">Find Hotels</button>
    </form>
  </div>
  {{results}} 