<h3>Book Hotel</h3>
<div class="alert alert-success" *ngIf="submit">
    <strong>Hotel Booking Done</strong>
</div>
<div *ngIf='isVisible' class="well well-lg">
    
    <ul class="list-group" *ngFor="let hotel of hotelDetail">
      <li class="list-group-item"><h3>{{hotel.name}}</h3></li>
      <li class="list-group-item">{{hotel.address[0].address}}</li>
      <li class="list-group-item">{{hotel.address[0].location}}</li>
      <li class="list-group-item">{{hotel.address[0].zip}}</li>
      </ul>
    <br>
    <button class="btn btn-success" (click)='boolHotel()'>Book Hotel</button>
    <br>
</div>

<div *ngIf='!isVisible' class="well well-lg">
    <div *ngFor="let hotel of hotelDetail">
        <form class="form-inline" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
            <div class="form-container">
                <div>
                    <label>User Name:</label>
                        <input type="text" class="form-control" placeholder="User Name" formControlName="name">
                    <label>User Address:</label>
                    <input type="text" class="form-control" placeholder="User Address" formControlName="address">
                    <label>Location:</label>
                    <input type="text" class="form-control" placeholder="User Address Location" formControlName="location">
                    <label>Zip:</label>
                    <input type="text" pattern="[0-9]{6}" class="form-control" placeholder="User Address Zip" formControlName="zip">

                </div>
                <div class="alert alert-danger" *ngIf="(!rForm.controls['name'].valid && rForm.controls['name'].touched) || (!rForm.controls['address'].valid && rForm.controls['address'].touched) || (!rForm.controls['location'].valid && rForm.controls['location'].touched)">{{ titleAlert }}</div>
                <div class="alert alert-danger" *ngIf="!rForm.controls['zip'].valid && rForm.controls['zip'].touched">{{ zipAlert }}</div>
                <br>
                <div>
                    <label>Hotel Name:</label>
                    <input type="text" class="form-control" placeholder="Hotel Name" name="hotelname" [value]='hotel.name' disabled>
                    <label>Hotel Address:</label>
                    <input type="text" class="form-control" placeholder="Hotel Address" name="hoteladdress" [value]='hotel.address[0].address'
                        disabled>
                    <label>Location:</label>
                    <input type="text" class="form-control" placeholder="Location" name="hotellocation" [value]='hotel.address[0].location' disabled>
                    <label>Zip:</label>
                    <input type="number" class="form-control" placeholder="Zip" name="hotelzip" [value]='hotel.address[0].zip' disabled>

                </div>

                <br>
                <input type="submit" class="btn btn-success" value="Save" [disabled]="!rForm.valid">
                <button type="cancel" class="btn btn-warning" (click)='cancelfun()'>Cancel</button>
            </div>
        </form>

    </div>
</div>
