<h3>Book Hotel</h3>
<div class="alert alert-success" *ngIf="submit">
    <strong>Hotel Booking Done</strong>
</div>
<div *ngIf='isVisible' class="well well-lg">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City, State</th>
            <th>Zip</th>
            <th>Day Rate</th>
            <th>Night Rate</th>
        </tr>
        <tr *ngFor="let hotel of hotelDetail">
            <td>{{hotel.name}}</td>
            <td>{{hotel.address[0].address}}</td>
            <td>{{hotel.address[0].location}}</td>
            <td>{{hotel.address[0].zip}}</td>
            <th>{{hotel.dayRate}}</th>
            <th>{{hotel.nightRate}}</th>
            <!-- <td><button  [routerLink]="['/view',hotel.id]">View Hotel</button></td> -->

        </tr>
    </table>
    <br>
    <button class="btn btn-success" (click)='boolHotel()'>Book Hotel</button>
    <br>
</div>

<div *ngIf='!isVisible' class="well well-lg">
    <div *ngFor="let hotel of hotelDetail">
        <form class="form-inline" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
            <div class="form-container">
                <div>
                    <label>User Name:</label>
                        <input type="text" class="form-control" placeholder="User Name" formControlName="name">
                    <label>User Address:</label>
                    <input type="text" class="form-control" placeholder="User Address" formControlName="address">
                    <label>Location:</label>
                    <input type="text" class="form-control" placeholder="User Address Location" formControlName="location">
                    <label>Zip:</label>
                    <input type="text" pattern="[0-9]{6}" class="form-control" placeholder="User Address Zip" formControlName="zip">

                </div>
                <div class="alert alert-danger" *ngIf="(!rForm.controls['name'].valid && rForm.controls['name'].touched) || (!rForm.controls['address'].valid && rForm.controls['address'].touched) || (!rForm.controls['location'].valid && rForm.controls['location'].touched)">{{ titleAlert }}</div>
                <div class="alert alert-danger" *ngIf="!rForm.controls['zip'].valid && rForm.controls['zip'].touched">{{ zipAlert }}</div>
                <br>
                <div>
                    <label>Hotel Name:</label>
                    <input type="text" class="form-control" placeholder="Hotel Name" name="hotelname" [value]='hotel.name' disabled>
                    <label>Hotel Address:</label>
                    <input type="text" class="form-control" placeholder="Hotel Address" name="hoteladdress" [value]='hotel.address[0].address'
                        disabled>
                    <label>Location:</label>
                    <input type="text" class="form-control" placeholder="Location" name="hotellocation" [value]='hotel.address[0].location' disabled>
                    <label>Zip:</label>
                    <input type="number" class="form-control" placeholder="Zip" name="hotelzip" [value]='hotel.address[0].zip' disabled>

                </div>

                <br>
                <input type="submit" class="btn btn-success" value="Save" [disabled]="!rForm.valid">
                <button type="cancel" class="btn btn-warning" (click)='cancelfun()'>Cancel</button>
            </div>
        </form>

    </div>
</div>

<!-- ============================== -->
<!-- 
<div>
        <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
          <div class="form-container">
            <div class="row columns">
              <h1>My Reactive Form</h1>
              <label>Name
                <input type="text" formControlName="name">
              </label>
              <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
              
              <label>Description
                <textarea  formControlName="description"></textarea>
              </label>
              <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 30 and 500 characters.</div>
              
              <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
            </div>
          </div>
        </form>
      </div>
      -->